<le-charts-page-header
  [title]="pageTitle"
  [connections]="connections()"
  [connectionsLoading]="connectionsLoading()"
  (connectionChange)="connectionChange($event)"
/>

@if (selectedConnection) {
<div class="main-content">
  <le-chart-prompt
    class="prompt"
    [chartLoading]="chartLoading()"
    (humanQuerySubmit)="humanQuerySubmit($event)"
  />
  <le-chart-response class="response" [loadingState]="chartLoading()" />
</div>
} @else {
<tui-block-status>
  <img
    tuiSlot="top"
    alt="not selected"
    src="./assets/images/camping.svg"
    class="image"
  />

  <h4>No connection selected</h4>
  Try selecting a connection
</tui-block-status>
}
