:host {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  width: 100%;

  .main-content {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;

    .prompt {
      flex: 0 1 auto;
      min-height: 0;
      min-width: 0;
    }

    .response {
      flex: 5 1 auto;
      min-height: 0;
      min-width: 0;
    }
  }
}
