<ng-container *ngIf="loading === 'LOADED'; else isLoading">
  <ng-container *ngIf="data.length > 0; else emptyGrid">
    <ag-grid-angular
      style="width: 100%; height: 100%"
      [ngClass]="config.theme"
      [rowData]="data"
      [columnDefs]="config.columnDefs"
      [animateRows]="config.animatedRows"
      [getRowId]="config.getRowId"
    ></ag-grid-angular>
  </ng-container>

  <ng-template #emptyGrid>
    <tui-block-status>
      <img
        tuiSlot="top"
        alt="not found"
        src="./assets/images/not-found.svg"
        class="image"
      />

      <h4>No connections</h4>

      Try to add a new connection
    </tui-block-status>
  </ng-template>
</ng-container>

<ng-template #isLoading>
  <tui-loader style="width: 100%" size="xxl"></tui-loader>
</ng-template>
