<form [formGroup]="form" (submit)="submit()">
  <div class="message-container">
    <tui-textarea
      #humanQuery
      formControlName="humanQuery"
      class="tui-space_bottom-4 field-large"
    >
      What do you want to display?
    </tui-textarea>
    <button
      tuiIconButton
      iconRight="tuiIconSearch"
      type="submit"
      class="tui-space_right-3 tui-space_bottom-3 send-button"
      [showLoader]="chartLoading === 'LOADING'"
      [disabled]="humanQuery.value.length === 0 || chartLoading === 'LOADING'"
    ></button>
  </div>
  @if (demoMode) {

  <div class="demo-examples">
    <tui-combo-box
      formControlName="exampleQuery"
      [stringify]="stringifyExamples"
      [tuiTextfieldLabelOutside]="true"
      class="dropdown"
    >
      Example

      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="stringifyExamples | tuiStringifyContent"
        [items]="demoExamples"
      ></tui-data-list-wrapper>
    </tui-combo-box>
    <button
      appearance="secondary"
      tuiButton
      type="button"
      class="tui-space_right-3 tui-space_bottom-3"
      (click)="openDiagram(diagram)"
    >
      Northwind Diagram
    </button>
  </div>

  <ng-template #diagram let-observer>
    <div class="diagram-dialog-content">
      <img src="/assets/images/example-diagram.png" />
      <button size="m" tuiButton type="button" (click)="observer.complete()">
        OK, got it. Let me try some queries.
      </button>
    </div>
  </ng-template>

  }
</form>
