:host {
  display: flex;
  flex-direction: column;

  tui-island {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;

    .axes {
      flex: 1 1 auto;
      min-width: 0;
      min-height: 0;
      color: #bc71c9;
    }
  }
}
