<tui-island *ngIf="loading !== 'INIT'" size="l">
  <p class="tui-island__category">Response</p>
  <div
    class="tui-island__content"
    *ngIf="loading === 'LOADING'; else displayChart"
  >
    <le-loading-spinner />
  </div>
</tui-island>

<ng-template #displayChart>
  <div class="container" [ngSwitch]="chart?.chartType">
    <le-count-label
      *ngSwitchCase="'countLabel'"
      [title]="title"
      [value]="countLabelValue"
    ></le-count-label>
    <le-pie
      *ngSwitchCase="'pie'"
      [title]="title"
      [labels]="pieChartLabels"
      [values]="pieChartValues"
    ></le-pie>
  </div>
</ng-template>
