@if (loading !== 'INIT') {
<tui-island size="l">
  <p class="tui-island__category">Response</p>
  @if (loading === 'LOADING') {
  <div class="tui-island__content">
    <le-loading-spinner />
  </div>
  } @else {

  <div class="container">
    @switch (chart?.chartType) { @case ('countLabel') {
    <le-count-label [title]="title" [value]="countLabelValue" />
    } @case ('pie') {
    <le-pie
      [title]="title"
      [labels]="pieChartLabels"
      [values]="pieChartValues"
    />
    } @case ('line') {
    <le-line [title]="title" [points]="lineChartPoints" />
    } }
  </div>

  }
</tui-island>
}
