@if (chart) {
  <nav tuiTabs [(activeItemIndex)]="activeItemIndex" vertical="left">
    <button tuiTab>Rendered Chart</button>
    <button tuiTab>JSON</button>
    <button tuiTab>Data Query</button>
  </nav>

  @if (activeItemIndex === 0) {
    @switch (chart.chartType) {
      @case ('countLabel') {
        <le-count-label [chart]="chart" />
      }

      @case ('pie') {
        <le-pie-chart [chart]="chart" />
      }

      @case ('bar') {
        <le-bar-chart [chart]="chart" />
      }

      @case ('line') {
        <le-line-chart [chart]="chart" />
      }
      @default {
        <tui-chip appearance="error"
          >The visualisation of your requested data is not supported
          yet!</tui-chip
        >
      }
    }
  } @else if (activeItemIndex === 1) {
    <json-viewer [data]="chart"> </json-viewer>
  } @else if (activeItemIndex === 2) {
    <textarea class="main" highlight-js lang="sql">{{ sql }}</textarea>
  }
}
