@if (chart) {
  <nav
    class="side"
    tuiTabs
    [(activeItemIndex)]="activeItemIndex"
    vertical="left"
  >
    <button tuiTab>Rendered Chart</button>
    <button tuiTab>JSON</button>
    <button tuiTab>Data Query</button>
  </nav>

  @if (activeItemIndex === 0) {
    @switch (chart.chartType) {
      @case ('countLabel') {
        <le-count-label class="main" [chart]="chart" />
      }

      @case ('pie') {
        <le-pie-chart class="main" [chart]="chart" />
      }

      @case ('bar') {
        <le-bar-chart class="main" [chart]="chart" />
      }

      @case ('line') {
        <le-line-chart class="main" [chart]="chart" />
      }
      @default {
        <tui-chip class="main" appearance="error"
          >The visualisation of your requested data is not supported
          yet!</tui-chip
        >
      }
    }
    <div class="bottom">
      <button
        tuiButton
        (click)="store.saveWidget()"
        [loading]="store.savingWidget() === 'LOADING'"
      >
        Save Widget
      </button>
    </div>
  } @else if (activeItemIndex === 1) {
    <json-viewer class="main" [data]="chart"> </json-viewer>
  } @else if (activeItemIndex === 2) {
    <textarea class="main" highlight-js lang="sql">{{ sql }}</textarea>
  }
}
