<div class="header">
  <button
    tuiChip
    iconStart="star"
    appearance="custom"
    tuiHintAppearance="warning"
    tuiHint="The result may not be accurate"
    [tuiSkeleton]="store.suggestionsLoading() === 'LOADING'"
    (click)="store.loadSuggestion()"
    [disabled]="
      store.selectedConnectionId() === null ||
      store.suggestionsLoading() === 'LOADING' ||
      store.previewChartLoading() === 'LOADING'
    "
  >
    AI Assisted Suggestion
  </button>
</div>

<div class="message-container">
  <tui-textarea
    class="tui-space_bottom-4 field-large"
    [ngModel]="store.userRequest()"
    (ngModelChange)="store.setUserRequest($event)"
    [disabled]="
      this.store.selectedConnectionId() === null ||
      store.previewChartLoading() === 'LOADING'
    "
  >
    What do you want to display?
  </tui-textarea>
  <button
    tuiIconButton
    [loading]="store.previewChartLoading() === 'LOADING'"
    iconEnd="search"
    type="submit"
    class="send-button"
    [disabled]="
      store.userRequest().length === 0 ||
      this.store.selectedConnectionId() === null ||
      store.previewChartLoading() === 'LOADING'
    "
    (click)="store.generateChart()"
  ></button>
</div>
