<div class="header">
  <button
    tuiChip
    iconStart="star"
    appearance="custom"
    tuiHint="Generate a prompt based on the selected connection. The result may not be accurate"
    [tuiSkeleton]="store.suggestionsLoading() === 'LOADING'"
    (click)="store.loadSuggestion()"
    [disabled]="
      store.selectedConnectionId() === null ||
      store.suggestionsLoading() === 'LOADING' ||
      store.previewChartLoading() === 'LOADING'
    "
  >
    AI Assisted Suggestion
  </button>
  <button
    tuiChip
    iconStart="database"
    tuiHint="Vizualize your database schema"
    [tuiSkeleton]="store.suggestionsLoading() === 'LOADING'"
    (click)="showSchemaPreview()"
    [disabled]="
      store.selectedConnectionId() === null ||
      store.suggestionsLoading() === 'LOADING' ||
      store.previewChartLoading() === 'LOADING'
    "
  >
    Schema Preview
  </button>
</div>

<div class="message-container">
  <tui-textarea
    class="tui-space_bottom-4 field-large"
    [ngModel]="store.userRequest()"
    (ngModelChange)="store.setUserRequest($event)"
    [disabled]="
      this.store.selectedConnectionId() === null ||
      store.previewChartLoading() === 'LOADING' ||
      store.suggestionsLoading() === 'LOADING'
    "
  >
    What do you want to display?
  </tui-textarea>
  <button
    tuiIconButton
    [loading]="store.previewChartLoading() === 'LOADING'"
    iconEnd="search"
    type="submit"
    class="send-button"
    [disabled]="
      store.userRequest().length === 0 ||
      store.selectedConnectionId() === null ||
      store.suggestionsLoading() === 'LOADING' ||
      store.previewChartLoading() === 'LOADING'
    "
    (click)="store.generateChart()"
  ></button>
</div>

<ng-template #preview let-preview>
  <tui-preview [rotatable]="false" [zoomable]="true">
    <img src="/assets/images/example-diagram.png" alt="Preview" />

    <button
      iconStart="@tui.x"
      tuiIconButton
      tuiPreviewAction
      type="button"
      (click)="preview.complete()"
    >
      Close
    </button>
  </tui-preview>
</ng-template>
