:host {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  [data-appearance='custom'] {
    color: #fff;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
    font-weight: bold;
  }

  .header {
    display: flex;
    gap: 0.5rem;
  }

  .message-container {
    position: relative;
    .send-button {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}
